* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: cornflowerblue;
}

.button-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dimension-prompt {
    background-color: dimgrey;
    color: aliceblue;
    margin-top: 140px;
    border-radius: 7px;
    height: 30px;
    width: 160px;
}

.container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid yellow;
}

.etch-container {
    border: 1px solid red;
    height: 322px;
    width: 322px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* .grid-div {
    background-color: white;
    height: 5px;
    width: 5px;
    border: 1px solid black;
} */